body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #070720, #171738, #2d2d5a, #4b4880, #7063a8);
    /* Galaxy-themed gradient background */
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for navigation */
    padding: 10px 0;
    z-index: 1000; /* Ensure it's above other content */
    transition: background-color 0.3s ease;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: lightblue;
}

.content {
    max-width: 800px;
    margin: 100px auto; /* Added margin for better readability */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
}
